/**
 *  Den 10.03.2024
 *  CSS-layout Paul Richter
 */

*			    { margin: 0;  padding: 0; }
html, body 	    { width: 100%; height: 100%; }
@charset "UTF-8";

.leer30         { height: 2.0em;}   /* 32px */
.leer50         { height: 3.0em;}   /* 48px */


    /* home.html
    ----------*/
.homeContainer
{
   min-height: 100%;
}
.homeHeader
{
    background-color: #FAFAFA;
    border-bottom: solid 1px #EAEAEA;
}
.homeTable
{
    width: 100%;
    height: 3.0em;          /* 48px */
}
.homeTdLinks
{
    width: 7.5em;   /* 120px */
}
.homeTdMitte
{
    text-align: center;
}
.homeTdRechts
{
    width: 7.5em;   /* 6.25 = 100px,  5.0 = 80px */
    text-align: right;
    color: #0066FF;
}

.homeArticle{}
.homeAside{}

.homeFooterPlatzhalter
{
    min-height: 3.0em;
}
.homeFooter
{
    background: #FAFAFA;
    border-top: solid 1px #EAEAEA;
    height: 2.5em;                  /* 40px */
    margin-top: -2.5em;
    vertical-align: baseline;
}


    /* fragments/footer
    ______________*/
.fragmentFooterTable
{
    height: 2.4em;
    width: 100%;
}
.fragmentFooterCenter
{
    text-align: center;
    color: #808080;
}
.fragmentFooterLeft
{
    width: 6.25em;
    color: #808080;
}