<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link data-th-href="@{/img/horn.png}" rel="icon" sizes="32x32" type="image/png">
    <link data-th-href="@{/css/style.css}" rel="stylesheet">

    <script data-th-src="@{/js/jquery@371.js}"></script>
    <script data-th-src="@{/js/stompjs@171.js}"></script>
    <script data-th-src="@{/js/socketjs@161.js}"></script>
    <!--<script data-th-src="@{/js/sockjs.min.js.map}" type="application/json"></script>-->
</head>
<body>

<div class="homeContainer">

    <!-- Header -->
    <header class="homeHeader">
        <table class="homeTable">
            <tr>
                <td class="homeTdLinks">
                    &#160;&#160;
                    <a data-th-href="@{/home}">
                        <img src="/img/horn.png" width="36" height="36">
                    </a>
                </td>
                <td class="homeTdMitte">
                    <h3 data-th-text="${@environment.getProperty('info.name')}"></h3>
                    <div align="center"><small id="infoAnzeigen"></small></div>
                </td>
                <td class="homeTdRechts">
                    <span id="jahrAnzeige"></span>
                    &#160;&#160;
                    <br>
                    <span id="zeitAnzeige"></span>
                    &#160;&#160;
                </td>
            </tr>
        </table>
    </header>

    <!-- Freie Zone, hier wird aller susgegeben -->

    <article class="homeArticle">

        <div class="leer50">&#160;</div>
        <div align="center">
            <table width="80%" border="0" cellspacing="5" cellpadding="0">

                <thead id="recipientBox">
                <th colspan="3">
                    <strong>bitte melden sie sich an!</strong>
                    <input type="text" id="recipientName" placeholder="Name" autofocus
                           class="fontSize11" maxlength="50" width="200" style="padding: 0.6em;" >
                    &#160;&#160;&#160;
                    <button type="button" onclick="connect()" style="padding: 0.6em;" >Verbinden</button>
                </th>
                </thead>

                <form id="form" style="border: 1px solid red;">
                <tbody id="messageBox" style="display: none;">
                <tr><td colspan="3" id="mitWemVerbunden"></td></tr>
                <tr><td colspan="3">&#160;</td></tr>

                    <tr>
                        <td width="150">
                            <input type="text" id="userName" placeholder="Name"  class="fontSize11 autoWidth" autofocus >
                        </td>
                        <td>
                            <input type="text" id="messageText" placeholder="Schreibe eine Nachricht..." autofocus required
                                   class="fontSize11 autoWidth" >
                        </td>
                        <td width="100" align="center">
                            <button type="submit" id="send" class="fontSize11 autoWidth">Send</button>
                        </td>
                    </tr>
                <tr><td colspan="3">&#160;</td></tr>
                </tbody>
                </form>

                <tfoot id="messageAusgabe"  colspan="3"></tfoot>

            </table>
        </div>

    </article>

    <!--  <aside class="homeAside">
          <span>seiten ausgabe</span>
      </aside>-->

    <!-- Ende frei Zone -->

    <div class="homeFooterPlatzhalter">&#160;</div><!-- Platzhalter für den Footer -->
</div> <!-- Ende Home Box -->

<footer class="homeFooter">
    <div data-th-insert="~{/fragments/footer :: version}"></div>
</footer>


<script data-th-src="@{/js/uhr.js}"></script>
<script data-th-src="@{/js/socketConnect.js}"></script>
<!-- variable startzeit für den script serverLaufZeit.js(gleich unten) -->
<script data-th-inline="javascript">
    /*<![CDATA[*/
        var startzeit = /*[[${serverStartZeit}]]*/ null;
    /*]]>*/
</script>
<script data-th-src="@{/js/serverLaufZeit.js}"></script>

</body>
</html>