<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/horn.png" rel="icon" sizes="32x32" type="image/png">
    <link data-th-href="@{/css/style.css}" rel="stylesheet">

    <script data-th-src="@{/js/jquery@371.js}"></script>

</head>
<body>

<noscript>
    <div class="noScript">
        <h3> Seems your browser doesn't support Javascript!
            Websocket relies on Javascript being enabled. Please enable
            Javascript and reload this page!
        </h3>
    </div>
</noscript>

<h3 align="center">Bote Web Client</h3>
<br>
<div class="leer30"></div>

<!-- Socket connect, nur zum Testen -->



</body>
</html>